<odoo>
    <data>
        <!-- Top menu item web_icon="clinic,static/description/logo"-->
        <menuitem name="InstantAbode" id="instant_abode.menu_root" web_icon="instant_abode,static/description/InstantAbodeIMG.png"/>
        
        <!-- menu Clientes-->
        <menuitem name="Clientes" id="instant_abode.menu_clientes" parent="instant_abode.menu_root"
        sequence = "1" groups="grupo_admins" action="instant_abode.cliente_action_window"/>
        <!-- actions -->

        <menuitem name="Mis Clientes" id="instant_abode.menu_clientes_lista"
            parent="instant_abode.menu_root" action="instant_abode.miscliente_action_window" 
            groups="grupo_propietarios" sequence="2"/>

        <!-- menu Propietario-->
        <menuitem name="Propietario" id="instant_abode.menu_propietarios" parent="instant_abode.menu_root" 
        sequence = "2" action="instant_abode.propietario_action_window" groups="grupo_admins"/>

        <menuitem name="Mi Prefil" id="instant_abode.menu_miperfil" parent="instant_abode.menu_root" 
        sequence = "5" action="instant_abode.miperfil_action_window" groups="grupo_propietarios"/>
        <!-- actions -->

        <!-- menu Valoraciones Cliente-->
        <menuitem name="Valoraciones Clientes" id="instant_abode.menu_valoracionescliente" parent="instant_abode.menu_root" 
        sequence = "6" action="instant_abode.valoracioncliente_action_window" groups="grupo_admins"/>
        <!-- actions -->

        <menuitem name="Valoraciones Realizadas" id="instant_abode.menu_valoRealizadas_list"
            parent="instant_abode.menu_root" action="instant_abode.valoracinoesReaProp_action_window" 
            groups="grupo_propietarios" sequence="4"/>

        <!-- menu Inmuebles-->
        <menuitem name="Inmuebles" id="instant_abode.menu_inmuebles" parent="instant_abode.menu_root" 
        sequence = "3" action="instant_abode.inmueble_action_window" groups="grupo_admins"/>
        <!-- actions -->
        <menuitem name="Mis Inmuebles" id="instant_abode.menu_misinmuebles_lista"
            parent="instant_abode.menu_root" action="instant_abode.misinmuebles_action_window" 
            groups="grupo_propietarios" sequence="1"/>

        <!-- menu Valoraciones Inmueble -->
        <menuitem name="Valoraciones Inmuebles" id="instant_abode.menu_valoracionesinmueble" parent="instant_abode.menu_root" 
        sequence = "5" action="instant_abode.valoracioninmueble_action_window" groups="grupo_admins"/>
        <!-- actions -->

        <!-- menu Alquileres-->
        <menuitem name="Alquileres" id="instant_abode.menu_alquileres" parent="instant_abode.menu_root" 
        sequence = "4" action="instant_abode.alquiler_action_window" groups="grupo_admins"/>
        <!-- actions -->

        <menuitem name="Alquileres Recibidos" id="instant_abode.menu_alquileresProp_list"
            parent="instant_abode.menu_root" action="instant_abode.alquileresProp_action_window" 
            groups="grupo_propietarios" sequence="3" />
    </data>
</odoo>