.app-container {
  display: flex;
}

.app-sidebar {
  width: 250px; /* Adjust based on your actual sidebar width */
  position: fixed;
  height: 100vh;
  background-color: #f4f4f4;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.inmueble-container {
  flex-grow: 1;
  margin-left: 260px; /* slightly more than the width of the sidebar */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.header-details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.main-image {
  width: 30%; /* Adjust size as needed */
  height: auto;
  border-radius: 4px;
  margin-right: 20px;
}

.text-details {
  flex: 1;
}

.additional-images img {
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 4px;
}

.reviews {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.review {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.client-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.client-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.client-name {
  font-weight: bold;
}

.review-content {
  flex: 1;
}

.review-date {
  font-style: italic;
  color: #666;
}
.valoraciones-container {
  position: relative;
  text-align: center;
  margin-top: 20px;
}
.h2-valoraciones {
  text-align: left;
}

.alquilar-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: blanchedalmond;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px; /* Espacio antes de las valoraciones */
}

.alquilar-btn:hover {
  background-color: #0056b3;
}

.no-valoraciones {
  color: #666;
  font-size: 16px;
  padding: 10px;
}
@media (max-width: 1024px) {
  .app-sidebar {
    width: 100%; /* Ocupa todo el ancho en dispositivos pequeños */
    height: auto; /* Altura adaptativa para ajustarse al contenido */
    position: relative; /* Cambio de fixed a relative para que no desplace contenido */
  }

  .inmueble-container {
    margin-left: 0; /* Elimina el margen para permitir que el contenedor se expanda */
    padding: 10px; /* Padding reducido para maximizar el espacio disponible */
    display: block; /* Asegura un flujo de bloque estándar */
  }

  .header-details {
    flex-direction: column; /* Cambia la disposición de fila a columna */
    align-items: center; /* Centra el contenido horizontalmente */
    text-align: center; /* Centra el texto de los detalles */
  }

  .main-image {
    width: 100%; /* Amplía la imagen principal para que ocupe el ancho completo */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 0 0 20px 0; /* Agrega margen inferior para separar del texto */
  }

  .text-details {
    width: 100%; /* Ajusta el contenedor de texto para llenar el ancho disponible */
  }

  .additional-images img {
    width: 25%; /* Hace las imágenes adicionales más grandes */
    height: auto; /* Mantiene la proporción de las imágenes */
    margin: 5px; /* Mantiene un pequeño margen entre imágenes */
  }

  .inmueble-actions {
    flex-direction: column; /* Alinea los botones en columna para evitar superposiciones */
  }

  .btn-añadir, .btn-modificar, .btn-eliminar {
    width: 100%; /* Expande los botones para llenar el contenedor */
    margin: 5px 0; /* Añade margen vertical para separación */
  }

  .valoraciones-container {
    padding: 20px 0; /* Añade padding para separar secciones */
  }
}
