<div class="sidebar">
  <h1>InstantAbode</h1>
  <a href="principal"><img src="../../images/InstantAbodeIMG.png" class="icon"> Página principal</a>
  <a href="perfil-usuario"><img src="../../images/perfil.png" class="icon"> Perfil</a>
  <a href="valoraciones-inmuebles"><img src="../../images/valoraciones.png" class="icon"> Valoraciones</a>
  <a href="inmuebles-alquilados"><img src="../../images/alquileres.png" class="icon"> Alquileres Realizados</a>
  <a (click)="logout()"><img src="../../../../../AppView/src/app/images/salir.png" class="icon"> Cerrar sesión</a>
</div>