/* Sidebar Styles */
.sidebar {
  height: 100vh;
  width: 250px; /* Adjusted width for larger screens */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f4f4f4;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s; /* Changed to 'all' for transitioning both width and transform properties */
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 16px;
  color: #333;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.sidebar a img.icon {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.sidebar a:hover {
  background-color: #ddd;
}

/* Profile image */
.profile-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover; /* Ensure the image fits and is not stretched */
}

.sidebar h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Responsive Styles for Mobile Devices */
@media (max-width: 768px) {
  .sidebar {
    width: 100%; /* Full width on smaller screens */
    position: relative; /* Adjust position for mobile */
  }

  .sidebar.collapsed {
    transform: translateX(-100%); /* Hide sidebar off-screen when collapsed */
  }

  .btn.btn-primary.d-md-none {
    display: block; /* Show toggle button on small screens */
    margin: 10px; /* Add some margin around the button */
  }

  .collapse.d-md-block {
    display: none; /* Initially hide the sidebar contents */
  }

  .collapse.show {
    display: block; /* Show sidebar when toggled */
  }
}
