  
  .inmueble-card {
    border: 2px solid #007bff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .inmueble-card h2 {
    color: #0056b3;
  }
  /* Main content area */
  .contenedor {
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    max-width: 400px;
    margin-top: 100px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  h1 {
    text-align: center;
  }
  
  .grupo {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .grupo-botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .grupo-botones button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #007bff;
    color: #fff;
  }
  
  .grupo-botones button:hover {
    background-color: #0056b3;
  }
  