.app-container {
  display: flex;
  min-height: 100vh;
}

.app-sidebar {
  width: 250px;
  background-color: #f4f4f4;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 20px;
  height: 100vh;
}

.inmuebles-container {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inmueble-card {
  width: calc(50% - 20px);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: #fff;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.inmueble-image {
  width: 100%; /* Se ajusta al ancho de la tarjeta */
  height: 300px; /* Altura fija para consistencia visual */
  object-fit: cover; /* La imagen cubre el espacio asignado sin distorsión */
  border-radius: 5px 5px 0 0; /* Redondea las esquinas superiores */
}

.inmueble-details {
  padding: 15px;
  text-align: center; /* Centra el texto dentro de la sección de detalles */
  width: 100%;
}

.valoracion-details {
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.inmueble-actions {
  display: flex;
  justify-content: space-evenly; /* Distribuye los botones uniformemente */
  padding: 10px 0;
  width: 100%;
  margin-bottom: 10px;
}

.btn-añadir, .btn-modificar, .btn-eliminar {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.btn-añadir:hover, .btn-modificar:hover, .btn-eliminar:hover {
  transform: scale(1.05);
}

.btn-añadir {
  background-color: #4CAF50; /* Verde */
  color: white;
}

.btn-modificar {
  background-color: #007bff; /* Azul */
  color: white;
}

.btn-eliminar {
  background-color: #f44336; /* Rojo */
  color: white;
}

@media (max-width: 1024px) {
  .app-container {
    display: flex;
    flex-direction: column; /* Cambia la dirección a columna para tablets y móviles */
  }

  .app-sidebar {
    width: 100%; /* Ajusta el sidebar para que ocupe toda la anchura en dispositivos pequeños */
    height: auto; /* Altura automática para ajustarse al contenido */
    padding: 10px; /* Padding reducido */
  }

  .inmuebles-container {
    width: 100%; /* Ajusta el contenedor principal para que ocupe toda la anchura */
    padding: 10px; /* Padding reducido para dispositivos pequeños */
    align-items: center; /* Centra los elementos horizontalmente */
  }

  .inmueble-card {
    width: 100%; /* Hace que la tarjeta ocupe toda la anchura disponible */
    margin: 10px 0; /* Ajusta los márgenes para un mejor espaciado */
    flex-direction: column; /* Asegura que el contenido de la tarjeta se apile verticalmente */
  }

  .inmueble-image {
    height: 250px; /* Ajusta la altura de la imagen para dispositivos más pequeños */
  }

  .inmueble-actions {
    flex-direction: column; /* Alinea los botones verticalmente */
    margin-bottom: 20px; /* Aumenta el margen en la parte inferior para una mejor separación */
  }

  .btn-añadir, .btn-modificar, .btn-eliminar {
    width: 100%; /* Hace que los botones ocupen todo el ancho */
    margin: 5px 0; /* Añade un pequeño margen entre los botones */
    padding: 10px; /* Padding ajustado para un mejor manejo táctil */
  }
}
