.header {
  text-align: center;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;  /* Hace la imagen redonda */
  border: 2px solid #007bff;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.grupo {
  flex: 1;
  padding: 0 10px;
}

.half:first-child {
  padding-right: 5px;
}

.half:last-child {
  padding-left: 5px;
}

.contenedor {
  margin: 20px auto;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.back-button {
  padding: 5px 10px;
  margin-bottom: 10px;
  /* Espacio entre el botón y el formulario */
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
}

.preview-img {
  width: 100%;
  /* Ajustar al tamaño deseado */
  height: auto;
  border-radius: 5px;
  /* Si quieres bordes redondeados */
  margin-top: 10px;
}

h1 {
  text-align: center;
}

div {
  margin-bottom: 20px;
  margin-right: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: calc(100% - 22px);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.grupo-botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grupo-botones button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.grupo-botones button.aceptar {
  background-color: #007bff;
  color: #fff;
}

.grupo-botones button.aceptar:hover {
  background-color: #0056b3;
}

.grupo-botones button.cancelar {
  background-color: #28a745;
  color: #fff;
}

.grupo-botones button.cancelar:hover {
  background-color: #218838;
}