<div class="contenedor">
  <app-sidebar></app-sidebar>
  <form>
    <div class="header">
      <img [src]="sanitizeImageUrl(usuario.imagen)" class="profile-img" (click)="imagenInput.click()">
      <input type="file" id="imagen" name="imagen" (change)="onFileChange($event)" #imagenInput hidden>
      <h1>Mi Perfil</h1>
    </div>
    
    <div class="row">
      <div class="grupo half">
        <label for="username">Nombre de Usuario</label>
        <input type="text" id="username" name="username" placeholder="Nombre de usuario" [(ngModel)]="usuario.name" required>
      </div>
      <div class="grupo half">
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" placeholder="Contraseña" [(ngModel)]="usuario.contrasenya" required>
      </div>
    </div>
    
    <div class="row">
      <div class="grupo half">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" placeholder="Nombre" [(ngModel)]="usuario.nombreCliente" required>
      </div>
      <div class="grupo half">
        <label for="apellidos">Apellidos</label>
        <input type="text" id="apellidos" name="apellidos" placeholder="Apellidos" [(ngModel)]="usuario.apellidos">
      </div>
    </div>

    <div class="grupo">
      <label for="dni">DNI</label>
      <input type="text" id="dni" name="dni" placeholder="DNI" [(ngModel)]="usuario.dni" required>
    </div>
    <div class="grupo">
      <label for="correo">Correo Electrónico</label>
      <input type="email" id="correo" name="correo" placeholder="Correo electrónico" [(ngModel)]="usuario.correo" required>
    </div>
    <div class="grupo">
      <label for="telefono">Teléfono</label>
      <input type="tel" id="telefono" name="telefono" placeholder="Teléfono" [(ngModel)]="usuario.telefono">
    </div>
    <div class="grupo-botones">
      <button type="submit" class="aceptar" (click)="actualizar()">Actualizar</button>
      <button type="button" class="cancelar" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
